html, body
{
    width: 100%;
    height: auto;
    font-size: $default-font-size;
    font-display: fallback;
    background-color: $color_white;
    color: $color_black;
    scroll-behavior: smooth;
}
a
{
    text-decoration: none;
    color: currentColor;
}
ol, ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}
img
{
    width: 100%;
    height: 100%;
}