@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

$color_purple: rgb(114, 93, 104);
$color_gray: rgb(168, 180, 165);
$color_white: rgb(255, 255, 255);
$color_black: rgb(0, 0, 0);

$default-font-size: 20px;

$font_family_ms: 'Montserrat', sans-serif;