.cards
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color_gray;
    width: 100%;
    padding-bottom: 150px;
    border-bottom: 6px solid $color_pink;
    
    &__header
    {
        width: 855px;
        position: relative;
        left: 20.5px;
        font-family: 'Montserrat', sans-serif;
    }

    &__tittle
    {
        display: flex;
        color: $color_white;
        font-size: 60px;
        font-weight: 300;
        margin: 80px 0 50px 0;
        letter-spacing: -1.8px;

        &::before
        {
            content: "";
            display: block;
            height: 46px;
            width: 10px;
            background-color: $color_pink;
            margin-right: 37px;
            margin-top: 13.5px;
        }
    }

    &__text
    {
        display: flex;
        color: #a6a6a6;
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 150px;
        letter-spacing: 0px;
    }
}

.flex
{
    display: flex;
    height: 810px;
    width: 964px;
    justify-content: space-between;

    &__1
    {
        width: 448px;
        align-self: flex-start;
    }

    &__2
    {
        width: 448px;
        align-self: flex-end;
    }

    &__card
    {
        height: 305px;
        border: 1px solid rgba(204, 204, 204, 0.5);
        border-radius: 15px;

        &__img
        {
            height: 55%;
            border-radius: 15px 15px 0 0;
            border-bottom: 7px solid $color_pink;
        }

        &__description
        {
            color: 	rgba(166, 166, 166, 0.5);
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-weight: 500;
            letter-spacing: 0px;
            padding: 1.5em 2em 3em 1.5em;
        }
    }

    &__card:nth-child(1), &__card:nth-child(3)
    {
        margin-bottom: 100px;
    }
}