.main__section-grid
{
    background-color: $color_gray;
    display: grid;
    grid-template-columns: 448px 448px;
    grid-template-rows: 365px 365px 365px;
    justify-content: center;
    column-gap: 68px;
}
.main__grid-header
{
    display: inline-block;
    padding-top: 100px; 
    width: 814px;
    grid-column: 1 / 3;
}
.main__grid__card__img
{
    height: 55%;
}
.main__section-grid:first-child, .main__section-grid:nth-child(3)
{
    align-self: start;
}
.main__section-grid:nth-child(2), .main__section-grid:nth-child(4)
{
    align-self: end;
}