.cards
{
    width: 100%;
    background-color: $color_gray;
    padding-bottom: 204px;
    border-bottom: 6px solid $color_pink;
    
    &__header
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        font-family: 'Montserrat', sans-serif;
    }

    &__tittle
    {
        display: flex;
        color: $color_white;
        font-size: 40px;
        font-weight: 300;
        letter-spacing: -0.9px;
        margin: 80px 0 41px 24px;
        position: relative;

        &::before
        {
            content: "";
            display: block;
            height: 80px;
            width: 4px;
            background-color: $color_pink;
            justify-self: flex-start;
            align-self: center;
            margin-right: 10px;
            position: relative;
            top: 7.75px;
        }
    }

    &__light
    {
        font-weight: 100;
        position: absolute;
        top: 45px;
        left: 15px;
    }

    &__text
    {
        display: flex;
        width: 80%;
        color: #a6a6a6;
        font-size: 18px;
        letter-spacing: 0.9px;
        font-weight: 100;
        text-align: left;
        margin-left: 44px;
    }

    &__quote
    {
        font-family: 'Playfair Display', serif;
        font-size: 70px;
        color: $color_pink;
        position: relative;
        top: -20px;
        padding-right: 7.5px; 
    }
}

.flex
{
    width: 100%;
    margin: 90px 0 105px;

    &__1, &__2
    {
        width: 90%;
        margin: auto;
    }
}

.card
{
    height: auto;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 15px;
    margin-bottom: 100px;

    &__image
    {
        height: 55%;
        border-radius: 15px 15px 0 0;
        border-bottom: 7px solid $color_pink;
    }

    &__description
    {
        height: 45%;
        color: 	rgba(166, 166, 166, 0.5);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0px;
        padding: 1em 2em 2em 1em;
    }
}

@media (min-width: 768px)
{
    .cards
    {
        &__tittle
        {
            width: 80%;
            font-size: 60px;
            font-weight: 300;
            letter-spacing: -1.8px;
            margin: 80px auto 50px;

            &::before
            {
                height: 46px;
                width: 10px;
                margin-right: 35px;
                position: relative;
                top: 0;
            }
        }

        &__light
        {
            position: relative;
            top: 0;
            left: 25px;
        }

        &__text
        {
            width: 80%;
            font-size: 26px;
            font-weight: 600;
            margin: 0 auto 50px;
            letter-spacing: 0.9px;
        }
    }

}

@media (min-width: 1010px)
{
    .cards
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
    
        &__header
        {
            width: 855px;
            left: 20.5px;
            letter-spacing: -1.8px;
        }

        &__tittle
        {
            display: flex;
            width: 814px;
            color: $color_white;
            font-size: 60px;
            font-weight: 300;
            letter-spacing: -1.8px;
            margin: 80px 0 50px 0;

            &::before
            {
                height: 46px;
                width: 10px;
                margin-right: 35px;
            }
        }
        
        &__text
        {
            width: 100%;
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 50px;
            letter-spacing: 0px;
            align-content: flex-start;
        } 
    }

    .flex
    {
        display: flex;
        height: 810px;
        width: 964px;
        justify-content: space-between;

        &__1
        {
            width: 448px;
            align-self: flex-start;
            margin: 0;
        }

        &__2
        {
            width: 448px;
            align-self: flex-end;
            margin: 0;
        }
    }

    .card:nth-child(1), .card:nth-child(3)
    {
        margin-bottom: 100px;
    }

    .card:nth-child(2), .card:nth-child(4)
    {
        margin-bottom: 0;
    }
}