.footer
{
    width: 100%;

    &__flex
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 57px 0 34px 0;
    }

    &__logo
    {
        display: inline-block;
        width: 35%;
        max-width: 233px;
        opacity: 0.52;
    }

    &__tittle
    {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-transform: lowercase;
        letter-spacing: 2px;
        color: white;
        padding-top: 10px;
    }

    &__light
    {
        font-weight: 100;
        padding-left: 5px;
    }

    &__text
    {
        display: inline-block;
        margin: 0 5%;
        padding-bottom: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        letter-spacing: 0;
        text-align: center;
        color: #707070;
    }
}

@media (min-width: 1010px)
{
    .footer
    {
        &__flex
        {
            flex-direction: row;
            margin: 122px 0 38px 0;
        }

        &__logo
        {
            width: 233px;
            margin-right: 25px;
        }

        &__tittle
        {
            font-size: 26px;
            letter-spacing: 2.6px;
            padding: 0;
        }

        &__text
        {
            font-size: 20px;
        }
    }
}