.slider
{
    display: flex;
    width: 100%;
    /**background-image: url(../../Imagens/background_decoration.png);**/
    background-color: #373737;
    background-position: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__tablet
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #FFFFFF;
        opacity: 1;
        border-radius: 10px;
        padding: 1em calc((3em - 28px) / 2) 1em 3em;
        margin: 96px 0 20px;
    }
    &__button
    {
        content: "";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 28px;
        width: 28px;
        border: 1px solid #FFFFFF;
        opacity: 1;
        border-radius: 50%;
        margin-left: calc((3em - 28px) / 2);

        &::after
        {
            content: "";
            height: 11px;
            width: 12px;
            border: 1px solid #FFFFFF;
            opacity: 1;
            border-radius: 3px;
        }
    }

    &__img
    {
        height: 458px;
        width: 814px;
        border-radius: 10px;
    }
    &__description
    {
        display: inline-block;
        width: 814px;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: $color_white;
        text-align: left;
        margin-bottom: 60px;
    }
}