.slider
{
    width: 100%;
    height: 458px;

    &__tablet
    {
        height: 458px;
    }

    &__img
    {
        height: 458px;
    }

    &__description
    {
        display: none;
    }
}

@media (min-width: 1010px)
{
    .slider
    {
        display: flex;
        width: 100%;
        height: auto;
        background-color: $color_gray;
        background-position: right;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &__tablet
        {
            display: flex;
            height: auto;
            align-items: center;
            border: 1px solid #FFFFFF;
            opacity: 1;
            border-radius: 20px;
            padding: 1em calc((3em - 28px) / 2) 1em calc((3em - 4px) / 2);
            margin: 96px 0 20px;

            &::before
            {
                content: "";
                height: 4px;
                width: 4px;
                border: 1px solid #FFFFFF;
                border-radius: 50%;
                opacity: 1;
                margin-right: calc((3em - 4px) / 2);
            }
        }

        &__pass
        {
            display: block;
            height: 458px;
            width: 814px;
            position: relative;

            &::before
            {
                content: "<";
                height: 74px;
                width: 76px;
                box-sizing: border-box;
                color: $color_pink;
                font-family: 'Dancing Script', cursive;
                font-size: 50px;
                text-align: center;
                background-color: $color_white;
                border-radius: 50%;
                z-index: 1;
                position: absolute;
                top: 47%;
                left: -0.15em;
            }

            &::after
            {
                content: ">";
                height: 74px;
                width: 76px;
                box-sizing: border-box;
                color: $color_pink;
                font-family: 'Dancing Script', cursive;
                font-size: 50px;
                text-align: center;
                background-color: $color_white;
                border-radius: 50%;
                z-index: 1;
                position: absolute;
                top: 47%;
                right: -0.15em;
            }
        }

        &__button
        {
            content: "";
            display: flex;
            justify-content: center;
            align-items: center;
            height: 28px;
            width: 28px;
            border: 1px solid #FFFFFF;
            opacity: 1;
            border-radius: 50%;
            margin-left: calc((3em - 28px) / 2);

            &::after
            {
                content: "";
                height: 11px;
                width: 12px;
                border: 1px solid #FFFFFF;
                opacity: 1;
                border-radius: 3px;
            }
        }

        &__img
        {
            width: 814px;
            border-radius: 20px;
        }
        
        &__description
        {
            display: flex;
            flex-direction: column;
            width: 814px;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            font-weight: 300;
            letter-spacing: 0.6px;
            color: $color_white;
            text-align: left;
            margin-bottom: 50px;
            padding-bottom: 15px;

            &::after
            {
                content: "";
                height: 0;
                width: 275px;
                border: 1px solid rgb(2, 27, 26);
                align-self: center;
                margin-top: 12.5px;
            }
        }
    }
}