.header
{
    width: 100%;
    background-color: $color_pink;
    border: 1px solid transparent;
    position: relative;

    &__color
    {
        margin: 22.5px 0;
    }

    &__logo
    {
        display: block;
        width: 50%;
        max-width: 138px;
        opacity: 0.68;
        margin: 25px auto 10px 14px;
    }

    &__tittle
    {
        text-transform: lowercase;
        text-align: left;
        text-shadow: 0px 3px 6px #00000029;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        letter-spacing: 2.4px;
        margin: 0 auto 20px 14px;
    }

    &__bold
    {
        font-weight: 400;
    }

    &-white
    {
        display: none;
    }

    &__style
    {
        width: 40px;
        height: 1px;
        background-color: $color_white;
        position: absolute;
        top: 32.5px;
        right: 12px;

        &::before
        {
            content: "";
            width: 40px;
            height: 2px;
            background-color: $color_white;
            position: absolute;
            bottom: 15px;
        }

        &::after
        {
            content: "";
            width: 40px;
            height: 2px;
            background-color: $color_white;
            position: absolute;
            top: 15px;
        }
    }
}

@media (min-width: 380px)
{
    .header__style
    {
        width: 52px;
        top: 56px;
        right: 17px;

        &::before
        {
            width: 52px;
        }

        &::after
        {
            width: 52px;
        }
    }
}

@media (min-width: 1010px)
{
    .header
    {
        height: 232px;
    
        &-color 
        {
            width: 100%;
            height: 176px;
            background-color: $color_pink;
            border: 1px solid transparent;
        }

        &__logo
        {
            width: 247px;
            max-width: none;
            height: 51px;
            margin: 32.35px auto 14px;
        }

        &__tittle
        {
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: 29px;
        }

        &__style
        {
            display: none;
        }

        &-white
        {
            display: block;
            width: 100%;
            height: 56px;
            background-color: $color_white;
        }

        &__list
        {
            display: flex;
            height: 56px;
            justify-content: center;
            align-items: center;
        }

        &__item
        {
            display: flex;
            height: 56px;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.15rem;
            font-weight: 200;
            letter-spacing: 2.3px;
            text-transform: lowercase;
            text-align: center;
            padding: 0 1em;
        }

        &__item:hover
        {
            background-color: $color_pink;
            color: $color_white;
            font-weight: 500;
        }
    }
}