.header
{
    width: 100%;
    height: 117px;
    background-color: $color_pink;

    &__logo
    {
        display: block;
        height: 28px;
        width: 138px;
        opacity: 0.68;
        margin: 25px auto 10px 14px;
    }

    &__tittle
    {
        text-transform: lowercase;
        text-align: left;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        text-shadow: 0px 3px 6px #00000029;
        letter-spacing: 2.4px;
        margin: 0 auto 20px 14px;
    }

    &-white
    {
        display: none;
    }
}

@media (min-width: 768px)
{
.header
{
    height: 232px;
    
    &-color 
    {
        height: 176px;
        width: 100%;
        background-color: $color_pink;
        border: 1px solid transparent;
    }

    &__logo
    {
        height: 51px;
        width: 247px;
        margin: 32.35px auto 14px;
    }

    &__tittle
    {
        text-align: center;
        font-size: 1.4rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 200;
        text-shadow: 0px 3px 6px #00000029;
        letter-spacing: 3.36px;
        margin-bottom: 29px;
    }

    &-white
    {
        height: 56px;
        width: 100%;
        background-color: $color_white;
    }

    &__nav__ul
    {
        display: flex;
        height: 56px;
        justify-content: center;
        align-items: center;

        &__li
        {
            display: flex;
            height: 56px;
            align-items: center;
            font-family: 'Montserrat', sans-serif;
            font-size: 1.15rem;
            font-weight: 200;
            letter-spacing: 2.3px;
            text-transform: lowercase;
            text-align: center;
            padding: 0 1em;
        }

        &__li:hover
        {
            background-color: $color_pink;
            color: $color_white;
            font-weight: 500;
        }
    }
}
.bold
{
    font-weight: 400;
}
}