.banner
{
    height: 569px;
    width: 100%;
    position: relative;
    background-image: url(../../Imagens/background_sdc.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    &__gradient
    {
        background: transparent linear-gradient(129deg, #DFA5AA 0%, #A64951 100%) 0% 0% no-repeat padding-box;
        opacity: 40%;
        width: 100%;
        height: 569px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }

    &__position
    {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__text
    {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 85px;
        color: $color_white;
        letter-spacing: 0;
        padding: 0 40px 25px 0;
        opacity: 1;
        z-index: 1;

        &::after
        {
            content: "_";
            color: $color_pink;
        }
    }
}